@keyframes logo-spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

article {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  place-items: center;
}

img {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

.react {
  animation: logo-spin infinite 20s linear;
}

.card {
  padding: 1rem;
}

.read-the-docs {
  color: hsl( 0, 0%, 80%);
}
